
.cmf-keyboard-background{
	-fx-fill:#393939;
    -fx-effect: dropshadow(two-pass-box, #111111, 10, 0.1, 3, 3);
	-fx-arc-height: 10;
	-fx-arc-width: 10;
}


.cmf-keyboard-button{
	-fx-background-color:#838383;
    -fx-font-size: 16px;
    -fx-effect: dropshadow(two-pass-box, #111111, 4, 0.5, 2, 2);
    -fx-background-radius: 4;
    -fx-font-family: "Open Sans";
	-fx-text-fill: #ffffff;
}


.cmf-keyboard-button-CAPS_LOCK,
.cmf-keyboard-button-SHIFT,
.cmf-keyboard-button-CLEAR,
.cmf-keyboard-button-BACK_SPACE,
.cmf-keyboard-button-DELETE,
.cmf-keyboard-button-ADD{
	 -fx-font-size: 11px;
}


.cmf-keyboard-button-CLEAR,
.cmf-keyboard-button-BACK_SPACE,
.cmf-keyboard-button-DELETE{
	-fx-background-color:#cd3b24;
	-fx-font-weight: bold;
}

.cmf-keyboard-button-ADD{
	-fx-background-color:#42b16f;
	-fx-font-weight: bold;
}

/* 
.cmf-keyboard-button-Z{
	-fx-background-color:#0000ff;
	-fx-text-fill: #ffffff;
}
*/