.root{
	-fx-font-family: "Open Sans";
	-fx-font-size: 10pt;
}

.scroll-pane > .viewport  { 
	-fx-background-color: transparent;
}

.scroll-bar:vertical {
  -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb{
	-fx-background-color: rgba(255,255,255,0.3);
}

.background_person{
	-fx-background-color: rgba(51, 157, 95, 0.45);
}

.background_organization{
	-fx-background-color: rgba(0, 99, 128, 0.45);
}

.background_blog{
	-fx-background-color: rgba(219, 87, 18, 0.45);
}

.background_content{
	-fx-background-color: rgba(203, 59, 37, 0.45);
}

.background_micropost{
	-fx-background-color: rgba(246, 168, 58, 0.45);
}

.background_picture{
	-fx-background-color: rgba(140, 48, 125, 0.45);
}

.background_person, .background_organization, .background_blog,
.background_content, .background_micropost, .background_picture {
	-fx-effect: dropshadow( one-pass-box , #316291 , 10 , 0.3 , 5 , 5 );
}


.drop_shadow{
	-fx-effect: dropshadow( one-pass-box , #316291 , 10 , 0.9 , 0 , 0 );
}

.particle_person_icon{
	-fx-translate-x: 80.0;
	-fx-translate-y: 25.0;  
}
.particle_person_roleIcon{
	-fx-translate-x: 50.0;
	-fx-translate-y: 30.0; 
	-fx-rotate: -30.0;
}
.particle_person_calendarIcon{
	-fx-translate-x: 30.0;
	-fx-translate-y: 50.0; 
	-fx-rotate: -60.0;
}
.particle_person_CommentIcon{
	-fx-translate-x: 22.0;
	-fx-translate-y: 79.0; 
	-fx-rotate: -90.0;
}

.particle_blog_icon, .particle_micropost_icon{ 
	-fx-translate-x: 82.0;
	-fx-translate-y: 23.0;  
}

.particle_blog_tagIcon, .particle_content_commentIcon, .particle_micropost_twitterIcon, .particle_organization_calendarIcon{
	-fx-translate-x: 49.0;
	-fx-translate-y: 31.0; 
	-fx-rotate: -30.0;
}

.particle_content_icon, .particle_picture_icon{
	-fx-translate-x: 79.0;
	-fx-translate-y: 23.0;  	
}

.particle_organization_icon{
	-fx-translate-x: 80.0;
	-fx-translate-y: 23.0;  	
}
.particle_organization_userIcon{
	-fx-translate-x: 53.0;
	-fx-translate-y: 30.0; 
	-fx-rotate: -30.0;
}
.particle_organization_calendarIcon{
	-fx-translate-x: 32.0;
	-fx-translate-y: 50.0; 
	-fx-rotate: -60.0;
}

.pile_twitter_icon{
	-fx-translate-x: 35.0;
	-fx-translate-y: 80.0; 	
}

.pile_blog_icon{
	-fx-translate-x: 19.0;
	-fx-translate-y: 140.0; 	
}

.pile_event_icon{
	-fx-translate-x: 30.0;
	-fx-translate-y: 196.0; 
}
.pile_content_icon{
	-fx-translate-x: 30.0;
	-fx-translate-y: 196.0; 
}
.pile_picture_icon{
	-fx-translate-x: 235.0;
	-fx-translate-y: 80.0; 
}
.pile_organization_icon{
	-fx-translate-x: 254.0;
	-fx-translate-y: 139.0; 
}
.pile_person_icon{
	-fx-translate-x: 238.0;
	-fx-translate-y: 200.0; 
}

